header.masthead {
    background-image: url(../img/chicago.jpeg);

    }
header.masthead {
    color: #EEffff;
} 
.page-section{background-color: lemonchiffon;}
.page-section1{background-color: white;}

.TJF{width: 200px;}

.sendai{width:200px;}

.Flare{width:200px;}

.toyotsu{width: 700px;}