header.masthead {
    background-image: url(../img/chicago.jpeg);

    }
header.masthead {
    color: #EEffff;
} 
.page-section{background-color: lemonchiffon;}
.page-section1{background-color: white;}

.TJF{width: 200px;
    height: 135px;
    object-fit: cover;}

.sendai{width:200px;
height: 135px;
object-fit: cover;}

.Flare{width:200px;
    height: 135px;
    object-fit: cover;}

.toyotsu{width: 700px;}

.rounded-circle1{object-fit: contain;
background-color: white;}